@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@page {
  size: 100mm 150mm !important;
  margin: 0 !important;
}

@media print {
  @page {
    size: 100mm 150mm !important;
    margin: 0 !important;
  }
}