[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["npm run build --workspace=client", "npm run build --workspace=server"]

[start]
cmd = "node server/dist/index.js"
